fastapi==0.99.0
uvicorn[standard]==0.22.0
Jinja2==3.1.2
aiofiles==23.1.0
wordcloud==1.9.4
nltk==3.8.1
networkx==3.2
matplotlib==3.8.0
emoji==2.2.0
vaderSentiment==3.3.2
jmespath==1.0.1
python-multipart==0.0.27
